header{
    background-color: white;
    background-size: cover;
    // min-height: 15em;
    position: relative;
    text-align: center;
    min-height: 15em; 
    @media screen and (min-width: $sm){
    }
}

.header__logo{
    display: block;
    padding-top: 3em;
    text-align: center;
    height: 12em;
    width: 10em;
    margin: 0 auto;
    // position: absolute;
    // top: 0; right: 0;
    // bottom: 0; left: 0;
    // margin: auto;
    > img {
        width: 100%;
    }
}

h1.header__name{
    color: white;
}


