.nav--main{
    @include font-size(2);
    width: 100%;
    font-family: $font-heading;
    font-weight: 400;
    ul{
        text-align: left;
        padding: 0;
        list-style: none;
        > li{
            display: block;
            @include font-size(3);
            padding: 1em 0 0;
            > a{
                color: $prim7;
            }
        }
    }
}

// Meta NAvigation overlay
.meta{
    background: $prim1;
    width: 100vw;    
    height: 100vh;
    color: white;
    @media screen and (min-width: $sm-min){
        position: absolute;
        top: 0;
        z-index: 100;
    }
}
.meta__wrapper{
    margin: 0 auto;
    width: 100vw;
    height: 50vw;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    margin: auto;
    @media screen and (min-width: $sm-min){
        width: 70vw; 
    }
}
.meta__nav{
    a{
        color: white; 
    }
}
.meta__description{
}
.meta__close{
    color: black;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index:101;
    @include font-size(3);
}
